<!-- 
     This configuration file is required if iisnode is used to run node processes behind
     IIS or IIS Express.  For more information, visit:

     https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config
-->

<configuration>
    <system.webServer>

        <handlers>
            <add name="iisnode" path="bot.js" verb="*" modules="iisnode" />
        </handlers>
    
    </system.webServer>
</configuration>